/* Общие правила */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

main {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: 500;
    font-size: 1.2em;
}

/* Верхнее меню */

.mainHeader {
    z-index: -10;
    transition: 0.2s ease;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    height: 55px;
    display: flex;
    align-items: center;

    & nav {
        padding: 15px;

        & a {
            font-weight: 300;
            font-size: 1.3em;

            &:hover {
                text-decoration: underline;
            }
        }

        & a.active {
            text-decoration: underline;
            font-weight: 500;
        }
    }
}
.mainHeader.deliveryStylesheet {
    background-color: #005389;

    & a {
        color: #fff;
    }
}
.mainHeader.tmzStylesheet {
    background-color: #FF8E00;

    & a {
        color: #000;
    }
}   

/* Основной контент */

.mainContent {
    padding: 30px;
}

.deliveryData__table {
    display: flex;
    flex-direction: column;

    & .deliveryData__row {
        display: flex;
        gap: 20px;
    }
}

.tmzData__table {
    display: flex;
    flex-direction: column;

    & .tmzData__row {
        display: flex;
        gap: 20px;
    }
}

.cartData__table {
    border-spacing: 0;

    & input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    & th {
        height: 30px;
    }

    & tr:first-child td:not(:last-child) {
        border-top: 1px solid #8E8E8E;
    }

    & tr td:first-child {
        border-left: 1px solid #8E8E8E;
    }

    tr:first-child td:first-child {
    border-top-left-radius: 5px;
    }

    tr:first-child td:nth-last-child(2) {
    border-top-right-radius: 5px;
    }

    tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
    }

    tr:last-child td:nth-last-child(2) {
    border-bottom-right-radius: 5px;
    }

    & td:not(:last-child) {
        overflow-wrap: break-word;
        background-color: #fff;
        border-right: 1px solid #8E8E8E;
        border-bottom: 1px solid #8E8E8E;
        text-align: center;
        height: 40px;            

        & input {
            outline: none;
            padding: 10px;
            width: 100%;
            text-align: center;
        }
    }

    & td:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    & .checkboxContainer {
        position: relative;
        cursor: pointer;
        user-select: none;
        
        margin-bottom: 18px;
        margin-left: 10px;

            & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            }

            & .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            border-radius: 3px;
            border: 1px solid #7C7C7C;
            background-color: #eee;
            }

            &:hover input ~ .checkmark {
            background-color: #D9D9D9;
            }

            & input:checked ~ .checkmark {
            background-color: #65A6D1;
            border: 1px solid #24587A;
            }

            &:hover input:checked ~ .checkmark {
            background-color: #4e8ab3;
            }
    }
}

.cartData__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & article {
        
        display: flex;
        justify-content: space-around;

        & section {
            border: 1px dotted #8E8E8E;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 25px;
            margin-right: 25px;
            transition: 0.1s ease;
            user-select: none;

            &:active {
                scale: 0.99;
            }

            &:hover {
                border: 1px solid #005389;
                color: #005389;
                cursor: pointer;
            }

            & h3 {
                text-align: center;
                font-size: 1.2em;
                margin: 10px 0 5px 0;
            }

            & p {
                width: 220px;
                height: 1.6em;
                text-align: center;
                font-size: 0.8em;
                font-weight: 300;
            }
        }
    }
}

/* Предпросмотр */

.tmzPreviewImage {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.568);
    filter: brightness(1);
    transition: 0.2s ease;

    &:hover {
        filter: brightness(.6);
        cursor: pointer;
    }
}

.preview {
    width: 33%;
    min-height: calc(100vh - 55px);
    background-color: #fff;
    box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.preview__delivery__row {
    display: flex;
    gap: 20px;
}

/* Кнопки управления */
.createDocs__btn__field {
    position: fixed;
    right: 25px;
    bottom: 25px;

    & button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 35px;
    font-weight: 500;
    border-radius: 50px;
    transition: 0.1s ease;

    &:active {
        scale: 0.99;
    }

        &.createDocs__btn__create {
            color: #fff;
            background-color: #005389;
            border: 2px solid #005389;

            &:hover {
                background-color: #fff;
                color: #005389;
            }
        }

        &.createDocs__btn__download {
            color: #000;
            border: 2px solid #FF8E00;
            background-color: #FF8E00;

            &:hover {
                background-color: #fff;
                color: #FF8E00;
            }
        }
    }
}

/* Поля для ввода */

fieldset {
    background-color: #fff;
    border: 1px solid #8E8E8E;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 10px;

    &:has(input:disabled, select:disabled) {
        background-color: #e4e4e4;
    }

    &:hover {
        border: 1px solid #464646;
    }

    &:focus-within {
        border: 1px solid #240b81;

        & legend {
            color: #240b81;
        }
    }

    & legend {
        margin-left: 8px;
        transform: translateY(-2px);
        padding: 0 2px;
        font-size: 0.9em;
    }

    & input {
        padding-left: 10px;
        font-size: 1em;
        font-weight: 300;
        width: 100%;
    }

    & select {

        font-size: 1em;
        font-weight: 300;
       
        width: calc(100% - 10px);
        margin-left: 5px; /* Толкнет селект вправо */
        outline: none;
    }

    & input[type="date"] {
        padding-right: 4px;
        width: 100%;
    }

    & option {
        font-weight: 300;
    }
}

/* Дополнительно */

.hide {
    display: none !important;
}

.contextMenu {
    background-color: #414141;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    min-width: 280px;

    & div {
        width: 90%;
        color: #fff;
        padding: 10px;
        font-size: 0.8em;
        cursor: pointer;
    }

    & div:first-child {
        padding-top: 12px;
    }

    & div:last-child {
        padding-bottom: 12px;
    }

    & div:not(:last-child) {
        border-bottom: 2px solid #565656;
    }

    & .disabled {
        color: #5e5e5e;
        cursor: default;
        font-size: 0.8em;
    }

    & .hotkey {
        font-size: 0.8em;
        color: #8e8e8e;
    }
}
