body {
    font-family: 'Roboto', sans-serif;
}
.preview {
    opacity: 0;
}
.preview.show {
    opacity: 1;
}
.cartItem, .cartHeader {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    opacity: 1;
    position: relative;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.cartItem:hover {
    cursor: pointer;
}
.cartItem:hover::after {
    opacity: 1;
}
.cartItem span {
    padding: 0 15px;
}
.deleteButton {
    width: 1.5em;
    height: 1.5em;
}

.itemDelete {
    width: 5%;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.cartItem:hover .itemDelete {
    opacity: 1;
}

@keyframes countdown {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.preview {
    display: flex;
    width: 100%;
}
.recipientPreview {
    width: 30%;
}
.senderPreview {
    width: 30%;
}

input[type="text"],
input[type="textarea"],
input[type="date"],
select,
.cartItemTD {
    background-color: #FAFAFA;
    border-bottom: 3px solid #0000002a;
    height: 50px;
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
}
input[type="text"]:hover,
input[type="textarea"]:hover,
input[type="date"]:hover,
select:hover,
.cartItemTD:hover {
    border-bottom: 3px solid #f5a002;;
}

.form-row {
    display: flex;
}
.form-group {
    display: flex;
    flex-direction: column;
}

#description {
    width: 960px;
}
#sender {
    width: 470px;
}
#recipient {
    width: 470px;
}
#deliveryDate {
    width: 300px;
}
#deliveryTime {
    width: 300px;
}
.itemArticle {
    width: 300px;
}
.itemName {
    width: 700px;
}
.itemCost {
    width: 240px;
}
.itemWidth {
    width: 170px;
}
.itemHeight {
    width: 170px;
}
.itemDepth {
    width: 170px;
}
tr {
    margin-top: 10px;
}
th {
    text-align: left;
    margin-left: 20px;
    font-weight: normal;
}
.cartItem td {
    display: flex;
    align-items: center;
}

.controlPanel {
    margin-top: 50px;
}

.btnCreate {
    width: 300px;
    height: 50px;
    background-color: #54B2DE;
    border-radius: 5px;
    border-bottom: 3px solid #0000002a;
    color: #fff;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.btnCreate:hover {
    background-color: #ffd587;
    color: #444444;
}
.btnPreview {
    width: 200px;
    height: 50px;
    background-color: #E9F8FF;
    border-radius: 5px;
    border-bottom: 3px solid #0000002a;
    color: #444444;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}
.btnPreview:hover {
    background-color: #ffd587;
}

.btnTMZ {
    width: 100vw;
    background-color: #FFE9E9;
    position: fixed;
    height: 35px;
    bottom: 0;
    left: 0;
    color: #707070;
}

#selectedShop {
    background-color: #fff;
    border: 0;
    appearance: none;
    position: fixed;
    right: 0;
    top: 0;
    color: #1E5B78;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
}

.shopSelect:hover #shopName {
    color: #f5a002;
    text-decoration: underline;
}

#shopName {
    position: fixed;
    right: 15px;
    top: 15px;
    color: #1E5B78;
}

span {
    margin: 10px 20px;
}

h2 {
    margin: 30px 0 20px 20px;
    font-size: 1.2em;
    font-weight: bold;
}
.hiddenCart {
    opacity: 0;
}

.qa {
    margin-left: 10px;
    width: 1.3em;
    height: 1.3em;
    color: red;
}
.qa path {
    fill: #54B2DE;
    transition: fill 0.3s;
}
.qa:hover path {
    fill: #f5a002;
    cursor: pointer;
}
h2 {
    display: flex;
}